<div class="container container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="headeducacion">
        <h2>Educacion</h2>
        <div class="buttons">
            <div class="btn-edit-img">
              <a href="#">
                <i class="fa fa-pen"></i>
              </a>
            </div>
            <div class="btn-edit-img">
              <a href="#">
                <i class="fa duotone fa-plus"></i>
              </a>
            </div>
        </div>
        
      </div>
     



     <div class="container">
  <div class="card" style="width: 18rem;" *ngFor="let education of educationList">
    <img [src]="education.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>{{education.school}}</h6>
      <h6>{{education.title}}</h6>
      <p class="card-text">{{education.description}}
      </p>
      <h6>Comienzo: {{education.start}}</h6>
      <h6>Final : {{education.end}}</h6>
  
  
    </div>
  
  </div>
     </div>
  
    </div>
  </div>
</div>
