<div class="container container-fluid">

<div class="menu-bar">
<img [src]="myProfile.imgProfile" alt="" class="img-profile">



     <div class="">
      <div class="btn-edit">
        <a href="#">

          <i class="fa fa-pen"></i>

        </a>
      </div>
<div class="btn-titulo ">

      <h1>{{myProfile.name}}</h1>



      <p class="descripcion">
        {{myProfile.description}}
      </p>
      <p class="contacto">
        {{myProfile.country}}.<a [href]="myProfile.contact">Informacion de contacto</a>
      </p>

      <button type="button" class="btn btn-primary">tengo interes en...</button>
      <button type="button" class="btn btn-outline-primary">Añadir seccion</button>
      <button type="button" class="btn btn-outline-primary">Mas...</button>

</div>

