
<div class="container container-fluid">
<div class="card">
  <div class="card-body">
    <div class="btn-edit-img">
      <a href="#">
        <i class="fa fa-pen"></i>
      </a>
    </div>
    <div class="btn-edit-img">
      <a href="#">
        <i class="fa duotone fa-plus"></i>
      </a>
    </div>

    <h2>Experiencia</h2>
    <h3>Ejecutivo de cuenta corporativas </h3>

    <span>Desarrollar en incrementar la cartera de clientes , aportando soluciones destinadas a resolver los problemas de consumo
    y servicio relacionados con la higiene del personal tanto de empresas, comercios, industrias. Implementar un sistema de
    trabajo por el cual el cliente tiene control del consumo relacionado con su personal , así de esta manera contar con un
    detalle de consumo acorde al volumen de personal existente optimizando el servicio tanto de entregas como de consumo
    logrando un mejor servicio y atención por parte de la empresa.</span>
  </div>
</div>
</div>
