
<div class="container container-fluid">
<div class="card">
  <div class="card-body">
  <div class="headexperience">
    <h2>Experiencia</h2>
    <div class="buttons">
      <div class="btn-edit-img">
        <a href="#">
          <i class="fa fa-pen"></i>
        </a>
      </div>
      <div class="btn-edit-img">
        <a href="#">
          <i class="fa duotone fa-plus"></i>
        </a>
      </div>
    </div>
  
  </div>
  <div class="experience" >
    <ul class="card"  >

      <li *ngFor="let exp of expList" >
        <h3>{{exp.title}}</h3>
        <h6>Cargo : {{exp.position}}</h6>
        <h6>Tareas realizadas</h6>
        <p>{{exp.description}}</p>
        <h6>Desde: {{exp.start}}</h6>
        <h6>Hasta: {{exp.end}}</h6>
      </li>
    </ul>
  </div>

  </div>
</div>
</div>
