<div class="container container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="btn-edit-img">
        <a href="#">
          <i class="fa fa-pen"></i>
        </a>
      </div>
      <div class="btn-edit-img">
        <a href="#">
          <i class="fa duotone fa-plus"></i>
        </a>
      </div>

      <h2>Educacion</h2>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/aluraStore.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">E-comerce realizado 100% HTML Y CSS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
