<div class="container container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="headerComponent">
        <h2>Proyects</h2>
        <div class="buttons">
          <div class="btn-edit-img">
            <a href="#">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-edit-img">
            <a href="#">
              <i class="fa duotone fa-plus"></i>
            </a>
          </div>
        </div>

      </div>




      <div class="container">
        <div class="card proyectCard" style="width: 18rem;" *ngFor="let proyect of proyectsList">


          <img [src]="proyect.img" class="card-img-top" alt="...">
          <div class="card-body ">
            
            <span class="card-text">{{proyect.description}}
            </span>
           


          </div>

        </div>
      </div>

    </div>
  </div>
</div>

    
   
