<div class="container container-fluid">
  <div class="card ">
    <div class="card-body">
      <div class="headerComponent">
        <h2>Hards & soft skills</h2>
        <div class="buttons">
          <div class="btn-edit-img">
            <a href="#">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-edit-img">
            <a href="#">
              <i class="fa duotone fa-plus"></i>
            </a>
          </div>
        </div>

      </div>
<!--se crea dinamicamente la barra de porcentaje skills-->

      <div class="progress" style="height: 8vh;" *ngFor="let skill of skillsList">
        <div class="progress-bar" role="progressbar" aria-label=""  aria-valuenow="100" [ngStyle]="{width:[skill.porcentaje]}"   aria-valuemin="0" aria-valuemax="100">
          {{skill.skill}}
        </div>
      </div>


    </div>
  </div>
